.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  font-family: "Mulish";
  font-weight: 700;
}

.header-logo {
  margin: 0 25px 0 160px;
}

.nav-menu {
  display: flex;
}

.header-nav-menu-item {
  margin: 0 25px;
}

a {
  color: #001a49;
  text-decoration: none;
}

.header-autorisation-menu {
  display: flex;
}

.header-sign-in {
  margin-right: 50px;
}

.header-reg {
  width: 147px;
  height: 50px;
  background: linear-gradient(44.11deg, #cd10ff 15.75%, #9f06ff 84.63%);
  border-radius: 33px;
  margin-right: 160px;
  color: #ffffff;
}
